@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
      @apply px-[70px]
    }
    .card {
      @apply border border-gray-2 rounded-[12px] 
    }
}

@layer base {
  h1 {
    @apply font-semibold text-x-x-large;
    line-height: 120%;
  } 
  h2 {
    @apply  font-semibold text-x-large
  }
 
  h4 {
    @apply font-semibold text-large
  }
  h5 {
    @apply font-semibold text-large
  }
  p {
    @apply text-medium text-secondary
  }
}

html {
  overflow-x: hidden;
  font-family: appFont;
  font-optical-sizing: auto;
}
body {
  color: #fff;
}

@font-face {
  font-family: appFont;
  src: url("/fonts/Urbanist-VariableFont_wght.ttf");
}
