@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
      @apply px-[70px]
    }
}

@layer base {
  h1 {
    @apply font-semibold text-x-large;
    line-height: 120%;
  } 
  p {
    @apply text-medium text-secondary
  }
}

html {
  overflow-x: hidden;
  font-family: appFont;
  font-optical-sizing: auto;
}
body {
  color: #fff;
}

@font-face {
  font-family: appFont;
  src: url("/fonts/Urbanist-VariableFont_wght.ttf");
}
